.container {
    text-align: center;
    font-size: 300%;
    background-color: #ffc71f;
    background-position: 0% 0%;
}

.image {
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    .image {
        width: 100%;
        height: auto;
    }
}